<div class="dash-lightbox" data-dash-lightbox hidden>
  <button type="button" class="dash-lightbox-close" data-dash-lightbox-close aria-label="Close">
    <svg class="dash-icon"><use href="#icon-close"></use></svg>
  </button>
  <button type="button" class="dash-lightbox-nav dash-lightbox-prev" data-dash-lightbox-prev aria-label="Previous artwork">
    <svg class="dash-icon"><use href="#icon-chevron-left"></use></svg>
  </button>
  <button type="button" class="dash-lightbox-nav dash-lightbox-next" data-dash-lightbox-next aria-label="Next artwork">
    <svg class="dash-icon"><use href="#icon-chevron-right"></use></svg>
  </button>
  <figure class="dash-lightbox-body">
    <img data-dash-lightbox-image src="" alt="">
    <figcaption class="dash-lightbox-caption" data-dash-lightbox-caption></figcaption>
  </figure>
</div>
